.container{
 color: #B8B8B8;
 width: 60%;
 margin: auto;
 text-align:center;
 height:100%;
}

.body{
  display: flex;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #eee;
}

.body-pecas{
  display: flex;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #eee;
}

.body-editapeca{
  display: flex;
  text-align:center;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  background: white;
}

.listbutton{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.button{
	text-transform: uppercase;
	border: 1px solid #808080;
	border-radius: 3px;
	margin-bottom: 7px;
	width:60%;
  height:40px;
  background-color: white;
  font-family: "apercu",sans-serif;
  font-weight: 700;
}

h1{
	color:black;
	padding-top: 2%;
  padding-bottom: 2%; 
  font-family: "apercu",sans-serif;
}

img{
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.table{
  margin: 0 auto;
  border: 1px solid gray;
  padding: 5px;
  font-family: "apercu",sans-serif;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.container-pecas {
  padding: 16px;
}

input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

b,p{
  color: #000000;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border-radius: 5px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: "apercu",sans-serif;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  font-family: "apercu",sans-serif;
}

.header a.active {
  font-size: 17px;
  background-color: #49c5b6;
  color: white;
}

.header-right {
  float: right;
}

textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.checkbox
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     height: 20px;
     width: 20px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.checkbox:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 7px;
     top: 2px;
     content: '\02143';
     transform: rotate(40deg);
}
.checkbox:hover
{
     background-color: #f7f7f7;
}
.checkbox:checked
{
     background-color: #f1f1f1;
}